*{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk";
}
body{
    background-color: rgb(52, 72, 149);
    color: black;
}
.content{
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2vmin;
}
.mode{
    max-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 3vmin;
    padding: 5vmin 3vmin;
}
.mode button{
    border-radius: 50%;
    height: 8vmin;
    width: 8vmin;
    background-color: #8697b0;
    border: none;
}
.mode #dark{
    background-color: #2e2e2e;
}
.wrapper{
    min-width: 40vw;
    padding: 5vmin;
    background: #8697b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    gap: 2vmin;
}
.header{
    display: flex;
}
.header p{
    font-size: 5vmin;
}
#heading{
    text-align: center;
    font-family: "Bitcount Single";
    font-size: 5vmin;
}
.input-submit{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vmin;
}
#input{
    width: 70%;
    padding: 2vmin;
    border: none;
    border-radius: 1.2vmax;
    outline: none;
    font-size: 1.2vmax;
}
#submit{
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 1.5vmin;
    border-radius: 1.2vmax;
    font-size: 1.2vmax;
}
#submit:active{
    background-color: #3c3c3c;
}
.weather-details{
    padding: 5vmin;
    background: rgb(144, 167, 201);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vmin;
    border-radius: 20px;
}
.city-name{
    font-size: 5vmin;
}
.wind-speed{
    font-weight: 600;
}
.temperature{
    font-size: xx-large;
}
.info{
    font-style: italic;
    font-size: large;
}
.weather-details img{
    height: 25vmin;
    width: 25vmin;
}
