*{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk";
    color: black;
}
body{
    height: 100vh;
    background: rgb(52, 72, 149);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vmin;
}
.wrapper{
    padding: 5vmin;
    background: rgb(144, 167, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    gap: 2vmin;
}
.header{
    display: flex;
}
.header p{
    font-size: 5vmin;
}
#heading{
    text-align: center;
    color: black;
    font-family: "Bitcount Single";
    font-size: 5vmin;
}
.input-submit{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vmin;
}
#input{
    width: 70%;
    padding: 2vmin;
    border: none;
    border-radius: 1.2vmax;
    outline: none;
    font-size: 1.2vmax;
}
#submit{
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 1.5vmin;
    border-radius: 1.2vmax;
    font-size: 1.2vmax;
}
#submit:active{
    background-color: #3c3c3c;
}
.weather-details{
    padding: 5vmin;
    background: rgb(144, 167, 201);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vmin;
    border-radius: 20px;
}
.city-name{
    font-size: 5vmin;
}
.wind-speed{
    font-weight: 600;
}
.temperature{
    font-size: xx-large;
}
.info{
    font-style: italic;
    font-size: large;
}
.weather-details img{
    height: 20vmin;
    border-radius: 20px;
}
